@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import "tailwindcss";

html{
  font-size: 75%;
}

body{
  background-color: white;
  color: black;
}

.font-Bungee{
  font-family: "Bungee Shade", sans-serif;
}
.allchat {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #555555c8 #cccccc11; /* thumb and track for Firefox */
  overflow-y: auto;
}